﻿@{
    ViewBag.Title = "ReportedHourDetail";
}

<div id="contract_display" style="">
    <h2>Reported Hour Detail</h2>

    <a id="button_go_back" class="action_buttons" style="margin-right:20px; float:right;" href="/TimeEntry/ReportedHoursList">Back To Hours List</a>
    <div id="header_display">

    </div>
    <div id="reportedHour_detail_div">
        <table>
            <tr>
                <td>
                    <label for="cboReportingYear">Reporting Year:</label>
                </td>
                <td>
                    <select id="cboReportingYear"></select>
                </td>
            </tr>
            <tr>


                <td>
                    <label for="cboReportingPeriod">Reporting Period:</label>
                </td>
                <td>
                    <select id="cboReportingPeriod" ></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="cboContract">Contract:</label>
                </td>
                <td>
                    <select id="cboContract" style="width:500px"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Hours_input">Hours:</label>
                </td>
                <td>
                    <input id="Hours_input" type="text" maxlength="50" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="cboInvoiceStatus">InvoiceStatus:</label>
                </td>
                <td>
                    <select id="cboInvoiceStatus"></select>
                </td>
            </tr>
          
          



        </table>




    </div>
</div>







@section scripts {
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/adenium_shared_model.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.proto.js"></script>
    <script src="~/ViewModels/TimeEntry/ReportedHourDetail.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.js"></script>
    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/TimeEntry.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
    <link href="~/Content/styles/Chosen.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
}






