﻿@{
    ViewBag.Title = "ReportedHoursList";
}

<div id="hoursList_display" style="">

    <table style="width:30%">
        <tr>
            <td colspan=2 valign="top">
                <h2 style="margin-block-start:0">Reported Hours List</h2>
            </td>

        </tr>
        <tr>

            <td>
                <label for="cboReportingYear">Reporting Year:</label>
            </td>
            <td>
                <select id="cboReportingYear" style="width:100px"></select>
            </td>


            <td>
                <a id="button_add" class="action_buttons" float:right;">Add Hours</a>

            </td>
        </tr>
    </table>


    <div id="hours_table_div">
        <table id="hoursTable" class="hoursdata_table" border="0">
            <tbody>
                <tr>
                    <td>Loading...</td>

                </tr>
            </tbody>
        </table>
    </div>


</div>


@section scripts {
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/accounting.js"></script>
    <script src="~/Scripts/adenium_shared_model.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.proto.js"></script>

    <script src="~/ViewModels/TimeEntry/ReportedHoursList.js"></script>
    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/TimeEntry.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
    <link href="~/Content/styles/Chosen.css" rel="stylesheet" />
}






