﻿@{
    ViewBag.Title = "AvailabilityReport";
}
@using (Ajax.BeginForm("RunAvailabilityReport", "Home",
     new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "xViewer", OnBegin = "reportRunStart()", OnComplete = "reportRunEnd()", OnFailure = "reportRunEnd()" },
    //  new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "xViewer" },
    new { @class = "form-horizontal" }))
{
    <div id="person_display" style="margin-left: 0.5em;">
        <h2>Availability Report</h2>

        <div id="filters_display">



            <label for="cboSupplierName">Supplier Name:</label>
            <select id="cboSupplierName" name="cboSupplierName" style="width:250px"></select>

            <label for="txtStartWeek">Start Week:</label>
            <input id="txtStartWeek" name="txtStartWeek" type="text" style="width:100px" value="202001" />

            <label for="txtEndWeek">End Week:</label>
            <input id="txtEndWeek" name="txtEndWeek" type="text" style="width:100px" value="202053" />

            <button class="action_buttons" type="submit" id="RunReport" name="RunReport">Run Report</button>
        </div>

        <div class="h_iframe" style="margin: 0 auto !important;" id="xViewer">

        </div>

    </div>
}
    @section scripts {
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="~/Scripts/jquery.cookie.js"></script>
        <script src="~/Scripts/eps_tools.js"></script>
        <script src="~/Scripts/eps_shared_model.js"></script>
        <script src="~/ViewModels/Reports/AvailabilityReport.js"></script>
        <script src="~/Scripts/accounting.js"></script>

        <script>
            $(document).ready(function () {
                viewModel.Init();
            });
        </script>
    }
    @section styles {
        <link href="~/Content/styles/Reports.css" rel="stylesheet" />
        <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
     

    }






