﻿@{
    ViewBag.Title = "B2BAvailability";
}

<div id="report_display" style="">
    <h2>B2B Availability Report</h2>   
    
    <div id="filters_display">
       
       
        <label for="cboSupplierCode">Supplier Location Code:</label>
        <select id="cboSupplierCode" style="width:400px"></select> 
      
       
              
        <a id="get_report_button" class="action_buttons">Run Report</a>   
        
    </div>
    <div style="float:right;padding-right:50px">
        <a id="export_button" style="float:right" class="action_buttons">Export</a>
    </div>
    <div id="report_table_div">
        <table id="reportTable" class="reportdata_table" border="0">
            <tbody>
                <tr>
                    <td>Report Results...</td>
                </tr>
            </tbody>
        </table>
        
    </div>

</div>

@section scripts {
    <script src="~/Scripts/jquery.tabletoCSV.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/ViewModels/Reports/B2BAvailability.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.proto.js"></script>
    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Reports.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
    <link href="~/Content/styles/Chosen.css" rel="stylesheet" />
}






