﻿@{
    ViewBag.Title = "DummenZeroPrice";
}

<div id="report_display" style="">
    <h2>Dummen Zero Price Report</h2>   
    
    <div id="filters_display">
       
       
        @*<label for="txtStartWeek">Start Week:</label>
        <input id="txtStartWeek" type="text" value="201645" />
        <label for="txtEndWeek">End Week:</label>
        <input id="txtEndWeek" type="text" value="201650" />*@
       
              
        <a id="get_report_button" class="action_buttons">Run Report</a>   
    </div>
    <div style="float:right;padding-right:50px">
        <a id="export_button" style="float:right" class="action_buttons">Export</a>
    </div>
    <div id="report_table_div">
        <table id="reportTable" class="reportdata_table" border="0">
            <tbody>
                <tr>
                    <td>Report Results...</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

@section scripts {
    <script src="~/Scripts/jquery.tabletoCSV.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/ViewModels/Reports/DummenZeroPrice.js"></script>
    <script src="~/Scripts/accounting.js"></script>

    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Reports.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />

}






