﻿@{
    ViewBag.Title = "GeneticOwnerURC";
}
@using (Ajax.BeginForm("RunGeneticOwnerURCReport", "Home",
     new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "xViewer", OnBegin = "reportRunStart()", OnComplete = "reportRunEnd()", OnFailure = "reportRunEnd()" },
    //  new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "xViewer" },
    new { @class = "form-horizontal" }))
{

    <div id="person_display" style="">
        <h2>Genetic Owner URC (Variety by Month) Report</h2>

        <div id="filters_display">


            <label for="cboGeneticOwnerName">Genetic Owner Name:</label>
            <select id="cboGeneticOwnerName" name="cboGeneticOwnerName" style="width:250px"></select>

            <label for="cboMonthStart">Month Start:</label>
            <select id="cboMonthStart" name="cboMonthStart" style="width:250px"></select>

            <label for="cboMonthEnd">Month End:</label>
            <select id="cboMonthEnd" name="cboMonthEnd" style="width:250px"></select>

            <button class="action_buttons" type="submit" id="RunReport" name="RunReport">Run Report</button>
        </div>


        <div class="h_iframe" style="margin: 0 auto !important;" id="xViewer">

        </div>
    </div>
}
@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/eps_shared_model.js"></script>
    <script src="~/ViewModels/Reports/GeneticOwnerURC.js"></script>
    @*<script src="~/Scripts/chosen.jquery.js"></script>
        <script src="~/Scripts/chosen.proto.js"></script>*@
    <script src="~/Scripts/accounting.js"></script>

    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Reports.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
    @*<link href="~/Content/styles/Chosen.css" rel="stylesheet" />*@

}






