﻿@{
    ViewBag.Title = "GreenFuseBreederReport";
}

<div id="person_display" style="margin-left: 0.5em;">
    <h2>Green-Fuse Breeder Report</h2>

    <div id="filters_display">






        <label for="cboBreederCode">Breeder Code:</label>
        <select id="cboBreederCode" style="width:250px"></select>
 
        <label for="cboSpeciesName">Species Name:</label>
        <select id="cboSpeciesName" style="width:250px"></select>

        <label for="txtVarietyName">Variety Name (starts with):</label>
        <input id="txtVarietyName" type="text" style="width:100px" />

        <br />

        <label for="fromYear">From Year:</label>
        <input id="fromYear" type="text" style="width:100px" />

        <label for="fromWeek">From Week:</label>
        <input id="fromWeek" type="text" style="width:100px" />

        <label for="toYear">To Year:</label>
        <input id="toYear" type="text" style="width:100px" />

        <label for="toWeek">To Week:</label>
        <input id="toWeek" type="text" style="width:100px" />



        <label for="cboFormat">Format:</label>
        <select id="cboFormat" style="width:200px">
            <option value="VarietyWeek" selected>Variety/Week</option>
            <option value="Variety">Variety</option>
            <option value="OrderDetail">Order Detail</option>
        </select>
        <label for="chkSendEmail">Send Email:</label>
        <input id="chkSendEmail" type="checkbox" />
        <a id="get_report_button" class="action_buttons">Run Report</a>
    </div>

    <div id="report_table_div">
        <table id="reportTable" class="reportdata_table" border="0">
            <tbody>
                <tr>
                    <td>Report Results...</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

@section scripts {

    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/eps_shared_model.js"></script>
    <script src="~/ViewModels/Reports/GreenFuseBreederReport.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.proto.js"></script>
    <script src="~/Scripts/accounting.js"></script>

    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Reports.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
    <link href="~/Content/styles/Chosen.css" rel="stylesheet" />

}






