﻿@{
    ViewBag.Title = "GreenFuseBreederQuarterlyReport";
}

@using (Ajax.BeginForm("RunGreenFuseBreederQuarterlyReport", "Home",
     new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "xViewer", OnBegin = "reportRunStart()", OnComplete = "reportRunEnd()", OnFailure = "reportRunEnd()" },
  //  new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "xViewer" },
    new { @class = "form-horizontal" }))
{

    <div id="person_display" style="margin-left: 0.5em;">
        <h2>Green-Fuse Breeder Quarterly Report</h2>

        <div id="filters_display">
            <label for="cboBreederCode">Breeder Code:</label>
            <select id="cboBreederCode" name="cboBreederCode" style="width:250px"></select>


            <label for="cboYear">Year:</label>
            <select id="cboYear" name="cboYear" style="width:250px">
                <option value="2018">2018</option>
                <option value="2019" selected>2019</option>
                <option value="2020">2020</option>
            </select>

            <label for="cboQuarter">Quarter:</label>
            <select id="cboQuarter" name="cboQuarter" style="width:250px">
                <option value="1" selected>Q1 (Week 1-13)</option>
                <option value="2">Q2 (Week 14-26)</option>
                <option value="3">Q3 (Week 27-39)</option>
                <option value="4">Q4 (Week 40-53)</option>
            </select>
            <label for="cboFormat">Format:</label>
            <select id="cboFormat" name="cboFormat" style="width:250px">
                <option value="0" selected>External</option>
                <option value="1">Internal</option>
            </select>
            <button class="action_buttons" type="submit" id="RunReport" name="RunReport">Run Report</button>

        </div>
        <div class="h_iframe" style="margin: 0 auto !important;" id="xViewer">

        </div>


    </div>
}
@section scripts {

    <script src="~/ViewModels/Reports/GreenFuseBreederQuarterlyReport.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/eps_shared_model.js"></script>
    @*<script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.proto.js"></script>*@
    <script src="~/Scripts/accounting.js"></script>
    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
    @*<link href="~/Content/styles/Chosen.css" rel="stylesheet" />*@
    <link href="~/Content/styles/Reports.css" rel="stylesheet" />
}






