﻿@{
    ViewBag.Title = "GrowerReport";
}
@using (Ajax.BeginForm("RunGrowerReport", "Home",
     new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "xViewer", OnBegin = "reportRunStart()", OnComplete = "reportRunEnd()", OnFailure = "reportRunEnd()" },
    //  new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "xViewer" },
    new { @class = "form-horizontal" }))
{

    <div id="grower_display" style="">
        <h2>Grower Report</h2>
        <div id="filters_display">
            <button class="action_buttons" type="submit" id="RunReport" name="RunReport">Run Report</button>
        </div>

        <div class="h_iframe" style="margin: 0 auto !important;" id="xViewer">

        </div>

    </div>
}
    @section scripts {
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        @*<script src="~/Scripts/jquery.tabletoCSV.js"></script>*@
        <script src="~/Scripts/jquery.cookie.js"></script>
        <script src="~/Scripts/eps_tools.js"></script>
        <script src="~/ViewModels/Reports/GrowerReport2.js"></script>
        <script src="~/Scripts/accounting.js"></script>
        <script>
            $(document).ready(function () {
                viewModel.Init();
            });
        </script>
    }
    @section styles {
        <link href="~/Content/styles/Reports.css" rel="stylesheet" />
        <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
    }






