﻿@{
    ViewBag.Title = "Searches";
}

<div id="report_display" style="">
    <h2>User Searches Report</h2>   
    
    <div id="filters_display">
       
       
        <label for="txtRecordCount">Record Count:</label>
        <input id="txtRecordCount" style="width:20px" value="50" />
      
       
              
        <a id="get_report_button" class="action_buttons">Run Report</a>   
    </div>
   
    <div id="report_table_div">
        <table id="reportTable" class="reportdata_table" border="0">
            <tbody>
                <tr>
                    <td>Report Results...</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

@section scripts {

    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/ViewModels/Reports/Searches.js"></script>
   
    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Reports.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
 
}






