﻿@{
    ViewBag.Title = "WhatRunsWhenReport";
}

<div id="person_display" style="margin-left: 0.5em;">
    <h2>What Runs When Report</h2>   
    
    <div id="filters_display">
        <a id="get_report_button" class="action_buttons">Run Report</a>
    </div>
   
    <div id="report_table_div">
        <table id="reportTable" class="reportdata_table" border="0">
            <tbody>
                <tr>
                    <td>Report Results...</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

@section scripts {

    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/eps_shared_model.js"></script>
    <script src="~/ViewModels/Reports/WhatRunsWhenReport.js"></script>

    <script src="~/Scripts/accounting.js"></script>

    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Reports.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />


}






