﻿@*@Html.ActionLink("Set Environment", "SetEpsUrl", "ApiUrl", new { ID = "ApiUrl" }, new { @class = "action_buttons" })*@
<div id="labelEnvironment" style="display:inline">@{Html.RenderAction("Get", "ApiUrl");}</div>
<br />
<div style="display:inline;">@{Html.RenderAction("Roles", "ApiUrl");}</div>