﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta charset="utf-8" />
    @{
        var appSettingsReader_2 = new System.Configuration.AppSettingsReader();
        Session["SoftwareOwner"] = (string)appSettingsReader_2.GetValue("SoftwareOwner", typeof(string)).ToString().ToUpper();
        var softwareOwner_2 = Session["SoftwareOwner"].ToString();
     
         <link href="~/Images/AdeniumLogo.jpg" rel="shortcut icon" type="image/x-icon" />
        
    }

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/Content/layout.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")

    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">

        sfHover = function () {
            var sfEls = document.getElementById("nav").getElementsByTagName("LI");
            for (var i = 0; i < sfEls.length; i++) {
                sfEls[i].onmouseover = function () {
                    this.className += " sfhover";
                }
                sfEls[i].onmouseout = function () {
                    this.className = this.className.replace(new RegExp(" sfhover\\b"), "");
                }
            }
        }
        if (window.attachEvent) window.attachEvent("onload", sfHover);

    </script>

</head>
    <body>
        <header>
            <div class="scott-header">
                
                <table style="width:100%">
                    <tr>
                        <td>
                            <a style="border:none;" href="../../">
                                @{
                                    var softwareOwner_1 = Session["SoftwareOwner"].ToString();
                                    
                                    if (softwareOwner_1 == "ADE")

                                    {
                                        <span><img style="border:none;" src="~/Images/AdeniumLogo.jpg" alt="adenium logo" /> </span>
                                        <input id="txtSoftwareOwner" type="text" value="ADE" style="display:none" />
                                    }
                                }

                            </a>
                        </td>

                        <td>
                            <div id="login" class="login_upper_right">
                                @Html.Partial("_LoginPartial")
                                @Html.Partial("_ApiSite")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="bottom">
                            <ul id="nav">

                                <li>
                                    <a href="#">Dashboards</a>
                                    <ul id="Dashboard_menu_list">
                                        @{
                                            var softwareOwner6 = Session["SoftwareOwner"].ToString();
                                            switch (softwareOwner6)
                                            {
                                               
                                                case "ADE":
                                                    {
                                                        <li>@Html.ActionLink("Adenium Dashboard", "ADEDashboard", "Dashboards")</li>                                                     
                                                        break;
                                                    }
                                                default:
                                                    {
                                                        break;
                                                    }
                                            }
                                        }
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">Time Entry</a>
                                    <ul id="TimeEntry_menu_list">
                                        <li>@Html.ActionLink("Reported Hours", "ReportedHoursList", "TimeEntry")</li>
                                        



                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Contracts</a>
                                    <ul id="Contracts_menu_list">

                                        <li>@Html.ActionLink("Consultants", "ConsultantList", "Contract")</li>
                                        <li>@Html.ActionLink("Contracts", "ContractList", "Contract")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Clients</a>
                                    <ul id="Clients_menu_list">
                                        <li>@Html.ActionLink("Client List", "ClientList", "Client")</li>
                                    </ul>
                                </li>
                                

                                <li>
                                    <a href="#">Reports</a>
                                    <ul id="Reports_menu_list">
                                      
                                        <li>@Html.ActionLink("What Runs When Report", "WhatRunsWhenReport", "Reports")</li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                        <td></td>
                    </tr>


                </table>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            @*<section class="content-wrapper main-content clear-fix">*@
            <section class="">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    @{
                        var softwareOwner8 = Session["SoftwareOwner"].ToString();
                        switch (softwareOwner8.ToUpper())
                        {
                           
                            case "ADE":
                                {
                                    <p>&copy; @DateTime.Now.Year - Adenium.com</p>
                                    break;
                                }
                            default:
                                {
                                    break;
                                }
                        }
                      
                      
                    }
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
