﻿@if (Request.IsAuthenticated) {
    <text>Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="action_buttons">Log off</a>
        }
    </text>
} else {
 
   @Html.ActionLink("Log in", "Login", "Account", new { ID = "loginLink" }, new { @class = "action_buttons" })
}
