﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "SetEpsUrl";
}

@section styles {
        

    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />

}

    <div>
        <h2>Change Green-Fuse Site</h2>
        <select id="listing" name="ePS Site" onchange="changeSite(this);">
        <option value="" style="display:none;"></option>
        <option id ="0" >Development</option>
        <option id ="1" >Production</option>
        @*<option id ="3" >Local</option>*@
        </select>
    </div>

@section scripts {
    <script src="~/Scripts/eps_tools.js"></script>


    <script>
        function changeSite(sel) {
            var value = sel.options[sel.selectedIndex].value;
            $.get("/ApiUrlApi/ChangeEpsUrl",  { site: value } )
                .done(function(data) {
                    var element = $("#listing");
                    
                    $("#labelEnvironment").html(data.substring(24,data.length));
                    viewModelFloatMessage(element, data, 2500);

                   // location.reload();
                });
        }
    </script>
}