﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Welcome to the Adenium Consulting internal website</h2>
                <h3>A great place to spend your day</h3>
            </hgroup>
        </div>
        <div class="center-div">

            <table>

               
            </table>

        </div>
    </section>
}
@section scripts {

    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/ViewModels/Home.js"></script>

    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {

    <link href="~/Content/styles/Reports.css" rel="stylesheet" />


}



