﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>ePlantSource Demo Sales Hub</h2>
                <h3>Integrated horticulture sales platform</h3>
            </hgroup> 
        </div>
        <div class="center-div">
           
            <table>
   
                <tr>
                    <td>Upcoming Events:</td> 
                </tr>
                <tr>
                    <td>ePlantSource Vision Statment:</td>
                </tr>
            </table>
           
        </div>
    </section>
}
@section scripts {

    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/ViewModels/Home.js"></script>

    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {

    <link href="~/Content/styles/Reports.css" rel="stylesheet" />


}


    
