﻿@model Adenium.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>

    <section id="loginForm">

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Log in Form</legend>
                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.UserName)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.UserName)
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Password)
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.Password)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="Log in" />
                                </td>
                            </tr>
                       </table>

            </fieldset>
        }
    </section>
</hgroup>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
