﻿@{
    ViewBag.Title = "ConsultantList";
}

<div id="consultantList_display" style="">
    <table style="width:20%">
        <tr>
            <td valign="top">
                <h2 style="margin-block-start:0">Consultant List</h2>
            </td>
            <td>
                <a id="button_add" class="action_buttons" float:right;">Add Consultant</a>

            </td>
        </tr>
    </table>


   

    <div id="consultant_table_div">
        <table id="consultantTable" class="contractdata_table" style="width:50%" border="0">
            <tbody>
                <tr>
                    <td>Loading...</td>

                </tr>
            </tbody>
        </table>
    </div>


</div>


    @section scripts {
        <script src="~/Scripts/eps_tools.js"></script>

        <script src="~/ViewModels/Contract/ConsultantList.js"></script>
        <script>
            $(document).ready(function () {
                viewModel.Init();
            });
        </script>
    }
    @section styles {
        <link href="~/Content/styles/Contract.css" rel="stylesheet" />
        <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
    }






