﻿@{
    ViewBag.Title = "ConsultantDetail";
}

<div id="consultant_display" style="">
    <h2>Consultant Detail</h2>
   
    <a id="button_go_back" class="action_buttons" style="margin-right:20px; float:right;" href="/Contract/ConsultantList">Back To Consultant List</a>
    <div id="header_display">
       
    </div>
    <div id="consultant_detail_div">
        <table>
            <tr>
                <td>
                    <label for="CompanyName_input">Company Name:</label>
                </td>
                <td>
                    <input id="CompanyName_input" type="text" maxlength="50" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="FirstName_input">First Name:</label>
                </td>
                <td>
                    <input id="FirstName_input" type="text" maxlength="50" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="LastName_input">Last Name:</label>
                </td>
                <td>
                    <input id="LastName_input" type="text" maxlength="50" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="IsInternal_input">Is Internal:</label>
                </td>
                <td>
                    <input id="IsInternal_input" type="checkbox"  />
                </td>
            </tr>
        </table>
                

       

    </div>
</div>






@section scripts {
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/eps_shared_model.js"></script>

    <script src="~/ViewModels/Contract/ConsultantDetail.js"></script>
    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Contract.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
}






