﻿@{
    ViewBag.Title = "ContractList";
}

<div id="contractList_display" style="">

    <table style="width:20%">
        <tr>
            <td valign="top">
                <h2 style="margin-block-start:0">Contract List</h2>
            </td>
            <td>
                <a id="button_add" class="action_buttons" float:right;">Add Contract</a>

            </td>
        </tr>
    </table>


    <div id="contract_table_div">
        <table id="contractTable" class="contractdata_table" border="0">
            <tbody>
                <tr>
                    <td>Loading...</td>

                </tr>
            </tbody>
        </table>
    </div>


</div>


@section scripts {
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/accounting.js"></script>

    <script src="~/ViewModels/Contract/ContractList.js"></script>
    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Contract.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
}






