﻿@{
    ViewBag.Title = "ContractDetail";
}

<div id="contract_display" style="">
    <h2>Contract Detail</h2>

    <a id="button_go_back" class="action_buttons" style="margin-right:20px; float:right;" href="/Contract/ContractList">Back To Contract List</a>
    <div id="header_display">

    </div>
    <div id="contract_detail_div">
        <table>
            <tr>
                <td>
                    <label for="cboClient">Client:</label>
                </td>
                <td>
                    <select id="cboClient" ></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="cboConsultant">Consultant:</label>
                </td>
                <td>
                    <select id="cboConsultant" ></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="StartDate_input">Start Date:</label>
                </td>
                <td>
                    <input id="StartDate_input" type="text" maxlength="50" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="EndDate_input">End Date:</label>
                </td>
                <td>
                    <input id="EndDate_input" type="text" maxlength="50"  />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ClientRate_input">Client Rate:</label>
                </td>
                <td>
                    <input id="ClientRate_input" type="text" maxlength="50" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ConsultantRate_input">Consultant Rate:</label>
                </td>
                <td>
                    <input id="ConsultantRate_input" type="text" maxlength="50" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="IsProposed_input">Is Proposed:</label>
                </td>
                <td>
                    <input id="IsProposed_input" type="checkbox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="IsUnderContract_input">Is Under Contract:</label>
                </td>
                <td>
                    <input id="IsUnderContract_input" type="checkbox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="PercentExpected_input">Percent Expected:</label>
                </td>
                <td>
                    <input id="PercentExpected_input" type="text" maxlength="50" style="width:300px" />
                </td>
            </tr>



        </table>




    </div>
</div>







@section scripts {
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/adenium_shared_model.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.proto.js"></script>
    <script src="~/ViewModels/Contract/ContractDetail.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.js"></script>
    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Contract.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
    <link href="~/Content/styles/Chosen.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
}






