﻿@{
    ViewBag.Title = "DashboardOrders";
}

<div id="dashboardOrders_display" style="">
    <h2>Dashboard Orders</h2>
    
    <div id="dashboardOrders_table_div">
        <table id="dashboardOrdersTable" style="width:100%" class="dashboard_table" border="0">
            <tbody>
                <tr>
                    <td>Loading...</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/ViewModels/Dashboards/DashboardOrders.js"></script>
    <script src="~/Scripts/accounting.js"></script>
    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Dashboards.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
}






