﻿@{
    ViewBag.Title = "DashboardOrderLines";
}
<div style="float:right;padding-right:50px">
    <a id="export_button" style="float:right" class="action_buttons">Export</a>
</div>
<div id="dashboardOrderLines_display" style="">
    <h2>Dashboard Order Lines</h2>

    <div id="dashboardOrderLines_table_div">
        <table id="dashboardOrderLinesTable" style="width:100%" class="dashboard_table" border="0">
            <tbody>
                <tr>
                    <td>Loading...</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.tabletoCSV.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/ViewModels/Dashboards/DashboardOrderLines.js"></script>
    <script src="~/Scripts/accounting.js"></script>
    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Dashboards.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
}






