﻿@{
    ViewBag.Title = "DummenDashboard";
}

    <table style="width:100%">
        <tr>
            <td style="width:95%"><h2>Dummen Dashboard</h2></td>
        </tr>
    </table>

    <div id="dashboard_display" style="">
   
        <div id="filters_display">
            <table style="width:100%">
                <tr>
                    <td>
                        <label for="fiscalYearID">Fiscal Year:</label>
                        <select name="fiscalYearID" id="fiscalYearID">
                            <option value="All">All</option>
                            <option value="2015-16" selected>2015-16 (Weeks 2015_14 to 2016_13)</option>
                            <option value="2016-17">2016-17 (Weeks 2016_14 to 2017_13)</option>
                            <option value="2017-18">2017-18 (Weeks 2017_14 to 2018_13)</option>
                            <option value="2017-18 Mid">2017-18 Mid (Weeks 2018_14 to 2018_39)</option>
                            <option value="2018-19">2018-19 (Weeks 2018_40 to 2019_39)</option>
                            <option value="2019-20">2019-20 (Weeks 2019_40 to 2020_39)</option>
                            <option value="2020-21">2020-21 (Weeks 2012_40 to 2021_39)</option>

                        </select>
                    </td>                 
                </tr>
            </table>
        </div>
        <h2>By Status</h2>
        <div style="float:right;padding-right:50px">
            <a id="export_button_status" style="float:right" class="action_buttons">Export</a>
        </div>
        <div id="dashboard_table_div">
            <table id="dashboardTable" class="dashboard_table" border="0">
                <tbody>
                    <tr>
                        <td>Loading...</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <h2>By Grower</h2>
        <div style="float:right;padding-right:50px">
            <a id="export_button_grower" style="float:right" class="action_buttons">Export</a>
        </div>
        <div id="dashboardByGrower_table_div">
            <table id="dashboardByGrowerTable" class="dashboard_table" border="0">
                <tbody>
                    <tr>
                        <td>Loading...</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>



@section scripts {

    <script src="~/Scripts/jquery.tabletoCSV.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/ViewModels/Dashboards/DummenDashboard.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/accounting.js"></script>
   
    <script>
       
        $(document).ready(function () {
           // alert("hi1");
            viewModel.Init();
            //alert("hi2");
        });
    </script>

}

@section styles {

<link href="~/Content/styles/Dashboards.css" rel="stylesheet" />
<link href="~/Content/styles/eps_tools.css" rel="stylesheet" />

}
