﻿@{
    ViewBag.Title = "GreenFuseDashboard";
}

    <table style="width:100%">
        <tr>
            <td style="width:95%"><h2>Green Fuse Dashboard</h2></td>
        </tr>
    </table>

    <div id="dashboard_display" style="">
   
        <div id="filters_display">
            <table style="width:100%">
                <tr>
                    <td>
                        <label for="fiscalYearID">Fiscal Year:</label>
                        <select name="fiscalYearID" id="fiscalYearID">
                            <option value="All">All</option>
                            <option value="2017-18">2017-18</option>
                            <option value="2018-19" selected>2018-19</option>
                            <option value="2019-20">2019-20</option>
                            <option value="2020-21">2020-21</option>
                            <option value="2021-22">2021-22</option>
                        </select>
                    </td>      
                    <td>
                        <label for="includeInternalID">Include Internal:</label>
                        <input id="includeInternalID" type="checkbox" />
                    </td>                
                </tr>
            </table>
        </div>
        <h2>By Status</h2>
        <div style="float:right;padding-right:50px">
            <a id="export_button" style="float:right" class="action_buttons">Export</a>
        </div>
        <div id="dashboard_table_div">
            <table id="dashboardTable" class="dashboard_table" border="0">
                <tbody>
                    <tr>
                        <td>Loading...</td>

                    </tr>
                </tbody>
            </table>
        </div>
        @*<h2>By Grower</h2>
        <div id="dashboardByGrower_table_div">
            <table id="dashboardByGrowerTable" class="dashboard_table" border="0">
                <tbody>
                    <tr>
                        <td>Loading...</td>

                    </tr>
                </tbody>
            </table>
        </div>*@
    </div>



@section scripts {

    <script src="~/Scripts/jquery.tabletoCSV.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/ViewModels/Dashboards/GreenFuseDashboard.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/accounting.js"></script>
   
    <script>
       
        $(document).ready(function () {
           // alert("hi1");
            viewModel.Init();
            //alert("hi2");
        });
    </script>

}

@section styles {

<link href="~/Content/styles/Dashboards.css" rel="stylesheet" />
<link href="~/Content/styles/eps_tools.css" rel="stylesheet" />

}
