﻿

#page_content {
    min-height: 500px;
    border: dashed 0px #00f;
}

#page_content h1 {
    font-family: 'ProximaNovaLtSemibold';
    font-weight: normal;
    font-size: 25px;
    line-height: 1.5;
    color: black;
    vertical-align: baseline;

    /*-webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/

}



.action_buttons {
    text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
    display: inline-block;
    margin-left:5px;
	padding:6px 22px;
	color:#2f818e;
    text-decoration: none;
	background-color:#9bc718;
	border:1px solid #2f818e;
    cursor: pointer;
}
	.action_buttons:hover {
		border:1px solid #9bc718;
		background-color:#2f818e;
		color:#9bc718;
	}

.contractdata_table {
	width: 100%;
    border-bottom: solid 1px #ccc;
	font-size: 10px;
    border-collapse: separate;
    border-spacing: 10px;
    overflow-x: scroll;
    overflow-y: scroll;
}

    .contractdata_table th {
        /*width is set programmatically and not here*/
        margin: 0;
        padding: 10px 0;
        color: #287d87;
        font-family: 'ProximaNovaLtSemibold', sans-serif;
        font-size: 12px;
        line-height: 1.1;
        vertical-align: bottom;
        text-align: left;
        background: transparent url();
    }
    .contractdata_table td {
        /*width is set programmatically and not here*/
        margin: 0;
        padding: 10px 0;
        color: black;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 1.5;
        vertical-align: bottom;
        text-align: left;
        background: transparent url();
        border-top: solid 1px #ccc;
        cursor: pointer;
    }
    .contractdata_table input, textarea {
        width: 150px;
        margin: 0;
        padding: 2px 0;
        vertical-align: bottom;
    }
    .contractdata_edit_links {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        color: #007d9a;
    }
    .contractdata_edit_links:hover {
        text-decoration: underline;
     }
