﻿


#page_content {
    min-height: 500px;
    margin: 0 0 20px 0;
    padding: 0;
    border: dashed 0px #00f;
}

    #page_content h1 {
        font-family: 'ProximaNovaLtSemibold';
        font-weight: normal;
        font-size: 25px;
        line-height: 1.5;
        color: #287d87;
        vertical-align: baseline;
    }






.dashboard_table {
	width: 80%;
    border-bottom: solid 1px #ccc;
	font-size: 12px;
}
    
   .dashboard_table th {
    /*width is set programmatically and not here*/
    margin:0;
    padding:10px 0;
    color: #287d87;
    font-family: 'ProximaNovaLtSemibold', sans-serif;
    font-size: 12px;
    line-height: 1.1;
    vertical-align: bottom;
    text-align: center;
    background: transparent url();
    }
   .dashboard_table td  {
    /*width is set programmatically and not here*/
    margin:0;
    padding:.25em 2em .25em 0;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    vertical-align: bottom;
    text-align: right;
    background: transparent url();
    border-top: solid 1px #ccc;
    cursor: pointer;
}
    .dashboard_table input,textarea {
        width:150px;
        margin: 0;
        padding: 2px 0;
        vertical-align: bottom;
    }


    .dashboard_edit_links {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
		color: #007d9a;
    }
    .dashboard_edit_links:hover {
        text-decoration: underline;
    }
    .dashboard_edit_changed_links {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
		color: #007d9a;
        background-color:aqua;
    }
    .dashboard_edit_changed_links:hover {
        text-decoration: underline;
    }

 .dashboard_total_table_rows{
     font-weight:bold;
 }
 .dashboard_cancelled_table_rows{
     background-color:lavender;
 }
 .dashboard_pending_table_rows{
      background-color:lightcyan;
 }
  .dashboard_alert_table_rows {
      color:red;
      font-size:x-large
 }
 .dashboard_warning_table_rows{
     background-color:yellow;
 } 
 .filters_display
        {
            /*float: left;*/
            display: inline-block;
            margin: 5px 0 0 0;
            padding: 0;
            font: normal normal normal 10px/15px arial, tahoma, sans-serif;
            text-align: right;
            border: solid 0px #ccc;
        }

            .filters_display label {
	            font-family: 'ProximaNovaLtSemibold';
	            font-size: 12px;
	            text-transform: uppercase;
	            width: auto;
	            display: inline;
	            color: #9bc718;	
            }

            .filters_display input[type=text] {
	            width: 185px;
	            border: 1px solid #9bc718;
	            padding: 4px;
	            height: 23px;
	            background: white;
	            -moz-box-shadow:    inset 0 0 3px #aaa;
                -webkit-box-shadow: inset 0 0 3px #aaa;
                box-shadow:         inset 0 0 3px #aaa;
	            outline: none;
	            -webkit-box-sizing: border-box; 
	            -moz-box-sizing: border-box; 
	            box-sizing: border-box;
            }


