﻿
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-color:#505050;
    padding: 0;
    margin: 2em;
    background-color:#ffffff;
    padding:0px 10px 10px 20px;
}
#login {
    float: right;
}
#login a {
  background-color: #d3dce0;
  margin-left: 10px;
  margin-right: 3px;
  padding: 2px 3px;
  text-decoration: none;
}
#logoutform {
    float: right;
}

#container {
	width: 75em;
	background: #F4ECD9;
	text-align: left;
	border: 1px solid #eda;
	margin: 0 auto;
}

p {
	margin: 1em 2em;
}

p#smurf {
    background: transparent;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: #43895B;
}

#smurf strong {
	font-size: 1.2em;
	color: black;
}

h1 {
	height: 108px;
	background: url(perciformes3.gif) bottom center no-repeat;
	text-indent: -999em;
	margin: 1em 0 0 0;
}

#nav, #nav ul {
    float: left;
    list-style: none;
    line-height: 1;
    background: white;
    font-weight: bold;
    padding: 0;
    border: solid #A9C2CB;
    border-width: 1px 0;
    margin: 0 0 1em 0;
    z-index: 1000;
    width:100%;
}

#nav a {
	display: block;
	width: 10em;
	width: 6em;
	color: #43895B;
	text-decoration: none;
	padding: 0.25em 2em;
}

#nav a.daddy {
	background: url(rightarrow2.gif) center right no-repeat;
}

#nav li {
	float: left;
	padding: 0;
	width: 10em;
}

#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	/*width: 14.4em;*/
	width: 13.9em;
	font-weight: normal;
	border-width: 0.25em;
	margin: 0;
}

#nav li li {
	padding-right: 1em;
	/*width: 13em*/
}

#nav li ul a {
    width: 9em;
	
}

#nav li ul ul {
	margin: -1.75em 0 0 14em;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
     width: 13em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
    width: 13em;
}

#nav li:hover, #nav li.sfhover {
	background: #eda;
}

#content {
	clear: left;
}

#content a {
	 color: #43895B;
}

#content a:hover {
	text-decoration: none;
}

#scaffolding {
	height: 70px;
	background: white url(/images/header_bg.gif) no-repeat;
	border: solid #eda;
	border-width: 1px 0 0 0;
	margin: 1em 0 0 0;
}

#scaffolding a {
	text-decoration: none;
	text-indent: -999em;
	display: block;
	height: 70px;
	background: url(/images/hdlogo_flip2.gif) no-repeat;
	background-position: 181px 0;
}

#scaffolding a:hover {
	background-position: 181px -70px;
}

.action_buttons {
    text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
    display: inline-block;
    margin-left:5px;
	padding:6px 22px;
	color:#4c9566;
    text-decoration: none;
	background-color:#bbcfd6;
	border:1px solid #4c9466;
    cursor: pointer;
}
	.action_buttons:hover {
		border:1px solid #bbcfd6;
		background-color:#4c9466;
		color:#bbcfd6;
	}

.scott-header{
padding-top:20px;
padding-left:20px;
}