﻿@{
    ViewBag.Title = "ClientList";
}

<div id="clientList_display" style="">
    
    <div id="filters_display">
        <table style="width:20%">
            <tr>
                <td valign="top">
                    <h2 style="margin-block-start:0">Client List</h2>
                </td>
                <td>
                    <a id="button_add" class="action_buttons"  float:right;">Add Client</a>

                </td>
            </tr>
        </table>
    </div>
    
    <div id="client_table_div">
        <table id="clientTable" class="clientdata_table" border="0">
            <tbody>
                <tr>
                    <td>Loading...</td>

                </tr>
            </tbody>
        </table>
    </div>
            
            
</div>


    @section scripts {
        <script src="~/Scripts/eps_tools.js"></script>

        <script src="~/ViewModels/Client/ClientList.js"></script>
        <script>
            $(document).ready(function () {
                viewModel.Init();
            });
        </script>
    }
    @section styles {
        <link href="~/Content/styles/Client.css" rel="stylesheet" />
        <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
    }






