﻿@{
    ViewBag.Title = "ClientDetail";
}

<div id="client_display" style="">
    <h2>Client Detail</h2>
   
    <a id="button_go_back" class="action_buttons" style="margin-right:20px; float:right;" href="/Client/ClientList">Back To Client List</a>
    <div id="header_display">
       
    </div>
    <div id="client_detail_div">
       <table>
           <tr>
               <td>
                   <label for="ClientName_input">Client Name:</label>
               </td>
               <td>

                   <input id="ClientName_input" type="text" maxlength="70" style="width:300px" />

               </td>
           </tr>
       </table>
                

       

    </div>
</div>






@section scripts {
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/Scripts/eps_shared_model.js"></script>

    <script src="~/ViewModels/Client/ClientDetail.js"></script>
    <script>
        $(document).ready(function () {
            viewModel.Init();
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Client.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_tools.css" rel="stylesheet" />
}






